---
http_interactions:
- request:
    method: post
    uri: https://cloudformation.us-west-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: Action=CreateStack&StackName=miasma-test-stack&TemplateBody=%7B%22AWSTemplateFormatVersion%22%3A%222010-09-09%22%2C%22Description%22%3A%22Miasma+test+stack%22%2C%22Resources%22%3A%7B%22MiasmaTestHandle%22%3A%7B%22Type%22%3A%22AWS%3A%3ACloudFormation%3A%3AWaitConditionHandle%22%7D%7D%7D&Version=2010-05-15
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20160104/us-west-1/cloudformation/aws4_request,
        SignedHeaders=host;user-agent;x-amz-date, Signature=908efc91d6f2532a88a0677a5491ab5e44bf2831648eec7154f070a3a6882121
      X-Amz-Date:
      - 20160104T202223Z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - b589cb89-b320-11e5-8d5c-516228bac4c5
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: |
        <CreateStackResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <CreateStackResult>
            <StackId>arn:aws:cloudformation:us-west-1:921689585014:stack/miasma-test-stack/b5978680-b320-11e5-992b-500cc178649a</StackId>
          </CreateStackResult>
          <ResponseMetadata>
            <RequestId>b589cb89-b320-11e5-8d5c-516228bac4c5</RequestId>
          </ResponseMetadata>
        </CreateStackResponse>
  recorded_at: Mon, 04 Jan 2016 20:22:24 GMT
- request:
    method: post
    uri: https://cloudformation.us-west-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: Action=DescribeStacks&StackName=arn%3Aaws%3Acloudformation%3Aus-west-1%3A921689585014%3Astack%2Fmiasma-test-stack%2Fb5978680-b320-11e5-992b-500cc178649a&Version=2010-05-15
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20160104/us-west-1/cloudformation/aws4_request,
        SignedHeaders=host;user-agent;x-amz-date, Signature=c8dea738fea8b6e8609f96265d386843511a8dbec6dcc7151d5d40fb4f63eea6
      X-Amz-Date:
      - 20160104T202224Z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - b5e1fd34-b320-11e5-9fd7-71cacbe23d3f
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks>
              <member>
                <Tags/>
                <StackId>arn:aws:cloudformation:us-west-1:921689585014:stack/miasma-test-stack/b5978680-b320-11e5-992b-500cc178649a</StackId>
                <StackStatus>CREATE_IN_PROGRESS</StackStatus>
                <StackName>miasma-test-stack</StackName>
                <StackStatusReason>User Initiated</StackStatusReason>
                <Description>Miasma test stack</Description>
                <NotificationARNs/>
                <CreationTime>2016-01-04T20:21:17.169Z</CreationTime>
                <DisableRollback>false</DisableRollback>
              </member>
            </Stacks>
          </DescribeStacksResult>
          <ResponseMetadata>
            <RequestId>b5e1fd34-b320-11e5-9fd7-71cacbe23d3f</RequestId>
          </ResponseMetadata>
        </DescribeStacksResponse>
  recorded_at: Mon, 04 Jan 2016 20:22:24 GMT
[...]
- request:
    method: post
    uri: https://cloudformation.us-west-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: Action=GetTemplate&StackName=arn%3Aaws%3Acloudformation%3Aus-west-1%3A921689585014%3Astack%2Fmiasma-test-stack%2Fb5978680-b320-11e5-992b-500cc178649a&Version=2010-05-15
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20160104/us-west-1/cloudformation/aws4_request,
        SignedHeaders=host;user-agent;x-amz-date, Signature=5aa31ca6fbc0d09d72149767f75a892e65d095d15cddf1384b4d1ec44ddab536
      X-Amz-Date:
      - 20160104T202245Z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - c26ae9dd-b320-11e5-9fd7-71cacbe23d3f
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: |
        <GetTemplateResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <GetTemplateResult>
            <TemplateBody>{&quot;AWSTemplateFormatVersion&quot;:&quot;2010-09-09&quot;,&quot;Description&quot;:&quot;Miasma test stack&quot;,&quot;Resources&quot;:{&quot;MiasmaTestHandle&quot;:{&quot;Type&quot;:&quot;AWS::CloudFormation::WaitConditionHandle&quot;}}}
        </TemplateBody>
          </GetTemplateResult>
          <ResponseMetadata>
            <RequestId>c26ae9dd-b320-11e5-9fd7-71cacbe23d3f</RequestId>
          </ResponseMetadata>
        </GetTemplateResponse>
  recorded_at: Mon, 04 Jan 2016 20:22:45 GMT
recorded_with: VCR 3.0.1
