---
http_interactions:
- request:
    method: post
    uri: https://cloudformation.us-west-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: Action=CreateStack&StackName=miasma-test-stack&TemplateBody=%7B%22AWSTemplateFormatVersion%22%3A%222010-09-09%22%2C%22Description%22%3A%22Miasma+test+stack%22%2C%22Resources%22%3A%7B%22MiasmaTestHandle%22%3A%7B%22Type%22%3A%22AWS%3A%3ACloudFormation%3A%3AWaitConditionHandle%22%7D%7D%7D&Version=2010-05-15
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20160218/us-west-1/cloudformation/aws4_request,
        SignedHeaders=host;user-agent;x-amz-date, Signature=69f0f0fbd68b27f53cbb9eb1e90538c70c49a0cd78aa8f9658863c83d841b892
      X-Amz-Date:
      - 20160218T154456Z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 9000c85e-d656-11e5-b923-8f495d62c9ac
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: |
        <CreateStackResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <CreateStackResult>
            <StackId>arn:aws:cloudformation:us-west-1:921689585014:stack/miasma-test-stack/900f9520-d656-11e5-9dab-50fae8e9942a</StackId>
          </CreateStackResult>
          <ResponseMetadata>
            <RequestId>9000c85e-d656-11e5-b923-8f495d62c9ac</RequestId>
          </ResponseMetadata>
        </CreateStackResponse>
  recorded_at: Thu, 18 Feb 2016 15:44:57 GMT
- request:
    method: post
    uri: https://cloudformation.us-west-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: Action=DescribeStacks&StackName=arn%3Aaws%3Acloudformation%3Aus-west-1%3A921689585014%3Astack%2Fmiasma-test-stack%2F900f9520-d656-11e5-9dab-50fae8e9942a&Version=2010-05-15
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20160218/us-west-1/cloudformation/aws4_request,
        SignedHeaders=host;user-agent;x-amz-date, Signature=60e022f0de969e04c693a8769dca61ca0cc352e17dc50d205d38f145cca40dbc
      X-Amz-Date:
      - 20160218T154457Z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 9065f37d-d656-11e5-8423-ad95fb08440b
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks>
              <member>
                <Tags/>
                <StackId>arn:aws:cloudformation:us-west-1:921689585014:stack/miasma-test-stack/900f9520-d656-11e5-9dab-50fae8e9942a</StackId>
                <StackStatus>CREATE_IN_PROGRESS</StackStatus>
                <StackName>miasma-test-stack</StackName>
                <StackStatusReason>User Initiated</StackStatusReason>
                <Description>Miasma test stack</Description>
                <NotificationARNs/>
                <CreationTime>2016-02-18T15:44:57.726Z</CreationTime>
                <DisableRollback>false</DisableRollback>
              </member>
            </Stacks>
          </DescribeStacksResult>
          <ResponseMetadata>
            <RequestId>9065f37d-d656-11e5-8423-ad95fb08440b</RequestId>
          </ResponseMetadata>
        </DescribeStacksResponse>
  recorded_at: Thu, 18 Feb 2016 15:44:57 GMT
[...]
- request:
    method: post
    uri: https://cloudformation.us-west-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: Action=GetTemplate&StackName=arn%3Aaws%3Acloudformation%3Aus-west-1%3A921689585014%3Astack%2Fmiasma-test-stack%2F900f9520-d656-11e5-9dab-50fae8e9942a&Version=2010-05-15
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20160218/us-west-1/cloudformation/aws4_request,
        SignedHeaders=host;user-agent;x-amz-date, Signature=4d796f07d1c0a7026c7f0a0847dbbe976e61d2b3145dd23101ada320670805d3
      X-Amz-Date:
      - 20160218T154511Z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 98a9460a-d656-11e5-b0a1-a7db4f0ed1dc
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: |
        <GetTemplateResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <GetTemplateResult>
            <TemplateBody>{&quot;AWSTemplateFormatVersion&quot;:&quot;2010-09-09&quot;,&quot;Description&quot;:&quot;Miasma test stack&quot;,&quot;Resources&quot;:{&quot;MiasmaTestHandle&quot;:{&quot;Type&quot;:&quot;AWS::CloudFormation::WaitConditionHandle&quot;}}}
        </TemplateBody>
          </GetTemplateResult>
          <ResponseMetadata>
            <RequestId>98a9460a-d656-11e5-b0a1-a7db4f0ed1dc</RequestId>
          </ResponseMetadata>
        </GetTemplateResponse>
  recorded_at: Thu, 18 Feb 2016 15:45:11 GMT
recorded_with: VCR 3.0.1
