---
http_interactions:
- request:
    method: post
    uri: https://cloudformation.us-west-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: Action=CreateStack&StackName=miasma-test-stack-2&TemplateBody=%7B%22AWSTemplateFormatVersion%22%3A%222010-09-09%22%2C%22Description%22%3A%22Miasma+test+stack%22%2C%22Resources%22%3A%7B%22MiasmaTestHandle%22%3A%7B%22Type%22%3A%22AWS%3A%3ACloudFormation%3A%3AWaitConditionHandle%22%7D%7D%7D&Version=2010-05-15
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20160218/us-west-1/cloudformation/aws4_request,
        SignedHeaders=host;user-agent;x-amz-date, Signature=cda748626f9ea39a6022e28f59e99f7b3490abe998097a8147f84455a4500d15
      X-Amz-Date:
      - 20160218T153357Z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 06b11209-d655-11e5-a2a3-4b4c7619f9d4
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: |
        <CreateStackResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <CreateStackResult>
            <StackId>arn:aws:cloudformation:us-west-1:921689585014:stack/miasma-test-stack-2/06bf9050-d655-11e5-adc0-500cc1786436</StackId>
          </CreateStackResult>
          <ResponseMetadata>
            <RequestId>06b11209-d655-11e5-a2a3-4b4c7619f9d4</RequestId>
          </ResponseMetadata>
        </CreateStackResponse>
  recorded_at: Thu, 18 Feb 2016 15:33:57 GMT
- request:
    method: post
    uri: https://cloudformation.us-west-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: Action=DescribeStacks&StackName=arn%3Aaws%3Acloudformation%3Aus-west-1%3A921689585014%3Astack%2Fmiasma-test-stack-2%2F06bf9050-d655-11e5-adc0-500cc1786436&Version=2010-05-15
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20160218/us-west-1/cloudformation/aws4_request,
        SignedHeaders=host;user-agent;x-amz-date, Signature=e3d6a100ba4fcbd8e602fcba14dcb9ba0fa3c1c38d8c10b90675654fec9a1681
      X-Amz-Date:
      - 20160218T153357Z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 07129291-d655-11e5-8423-ad95fb08440b
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks>
              <member>
                <Tags/>
                <StackId>arn:aws:cloudformation:us-west-1:921689585014:stack/miasma-test-stack-2/06bf9050-d655-11e5-adc0-500cc1786436</StackId>
                <StackStatus>CREATE_IN_PROGRESS</StackStatus>
                <StackName>miasma-test-stack-2</StackName>
                <StackStatusReason>User Initiated</StackStatusReason>
                <Description>Miasma test stack</Description>
                <NotificationARNs/>
                <CreationTime>2016-02-18T15:33:57.857Z</CreationTime>
                <DisableRollback>false</DisableRollback>
              </member>
            </Stacks>
          </DescribeStacksResult>
          <ResponseMetadata>
            <RequestId>07129291-d655-11e5-8423-ad95fb08440b</RequestId>
          </ResponseMetadata>
        </DescribeStacksResponse>
  recorded_at: Thu, 18 Feb 2016 15:33:58 GMT
[...]
- request:
    method: post
    uri: https://cloudformation.us-west-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: Action=DeleteStack&StackName=arn%3Aaws%3Acloudformation%3Aus-west-1%3A921689585014%3Astack%2Fmiasma-test-stack-2%2F06bf9050-d655-11e5-adc0-500cc1786436&Version=2010-05-15
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20160218/us-west-1/cloudformation/aws4_request,
        SignedHeaders=host;user-agent;x-amz-date, Signature=5efe1cc5b1ffde5d46d3e447dce39f188844e6edc69b8c69566a99c7d1211bf9
      X-Amz-Date:
      - 20160218T153408Z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 0d276d7c-d655-11e5-8423-ad95fb08440b
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: |
        <DeleteStackResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ResponseMetadata>
            <RequestId>0d276d7c-d655-11e5-8423-ad95fb08440b</RequestId>
          </ResponseMetadata>
        </DeleteStackResponse>
  recorded_at: Thu, 18 Feb 2016 15:34:08 GMT
[...]
