---
http_interactions:
- request:
    method: post
    uri: https://cloudformation.us-west-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: Action=CreateStack&StackName=miasma-test-stack-2&TemplateBody=%7B%22AWSTemplateFormatVersion%22%3A%222010-09-09%22%2C%22Description%22%3A%22Miasma+test+stack%22%2C%22Resources%22%3A%7B%22MiasmaTestHandle%22%3A%7B%22Type%22%3A%22AWS%3A%3ACloudFormation%3A%3AWaitConditionHandle%22%7D%7D%7D&Version=2010-05-15
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20160104/us-west-1/cloudformation/aws4_request,
        SignedHeaders=host;user-agent;x-amz-date, Signature=34f7b54dea8059d5deb007dde2002672ef8be2b016a6fb95275e2a52464d05c2
      X-Amz-Date:
      - 20160104T202251Z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - c6155433-b320-11e5-bf8d-952cf3a4747f
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: |
        <CreateStackResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <CreateStackResult>
            <StackId>arn:aws:cloudformation:us-west-1:921689585014:stack/miasma-test-stack-2/c61ea290-b320-11e5-95b0-500c2171ae62</StackId>
          </CreateStackResult>
          <ResponseMetadata>
            <RequestId>c6155433-b320-11e5-bf8d-952cf3a4747f</RequestId>
          </ResponseMetadata>
        </CreateStackResponse>
  recorded_at: Mon, 04 Jan 2016 20:22:51 GMT
- request:
    method: post
    uri: https://cloudformation.us-west-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: Action=DescribeStacks&StackName=arn%3Aaws%3Acloudformation%3Aus-west-1%3A921689585014%3Astack%2Fmiasma-test-stack-2%2Fc61ea290-b320-11e5-95b0-500c2171ae62&Version=2010-05-15
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20160104/us-west-1/cloudformation/aws4_request,
        SignedHeaders=host;user-agent;x-amz-date, Signature=6933f9ddb7ebc28ef9afabace710ad721ff98a6c7a032da46bbb3a9cca6062a8
      X-Amz-Date:
      - 20160104T202251Z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - c6841b79-b320-11e5-8e90-53a06fc71130
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks>
              <member>
                <Tags/>
                <StackId>arn:aws:cloudformation:us-west-1:921689585014:stack/miasma-test-stack-2/c61ea290-b320-11e5-95b0-500c2171ae62</StackId>
                <StackStatus>CREATE_IN_PROGRESS</StackStatus>
                <StackName>miasma-test-stack-2</StackName>
                <StackStatusReason>User Initiated</StackStatusReason>
                <Description>Miasma test stack</Description>
                <NotificationARNs/>
                <CreationTime>2016-01-04T20:21:44.898Z</CreationTime>
                <DisableRollback>false</DisableRollback>
              </member>
            </Stacks>
          </DescribeStacksResult>
          <ResponseMetadata>
            <RequestId>c6841b79-b320-11e5-8e90-53a06fc71130</RequestId>
          </ResponseMetadata>
        </DescribeStacksResponse>
  recorded_at: Mon, 04 Jan 2016 20:22:52 GMT
[...]
- request:
    method: post
    uri: https://cloudformation.us-west-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: Action=DeleteStack&StackName=arn%3Aaws%3Acloudformation%3Aus-west-1%3A921689585014%3Astack%2Fmiasma-test-stack-2%2Fc61ea290-b320-11e5-95b0-500c2171ae62&Version=2010-05-15
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20160104/us-west-1/cloudformation/aws4_request,
        SignedHeaders=host;user-agent;x-amz-date, Signature=1c917100cbee2925057776e4c6072ec7ea3c11a1a0c2520a81be3db4f11e04ed
      X-Amz-Date:
      - 20160104T202312Z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - d2f6e845-b320-11e5-9fd7-71cacbe23d3f
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: |
        <DeleteStackResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ResponseMetadata>
            <RequestId>d2f6e845-b320-11e5-9fd7-71cacbe23d3f</RequestId>
          </ResponseMetadata>
        </DeleteStackResponse>
  recorded_at: Mon, 04 Jan 2016 20:23:13 GMT
[...]
