---
http_interactions:
- request:
    method: post
    uri: https://cloudformation.us-west-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: Action=CreateStack&StackName&TemplateBody=%7B%7D&Version=2010-05-15
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID_STS/20160218/us-west-1/cloudformation/aws4_request,
        SignedHeaders=host;user-agent;x-amz-date;x-amz-security-token, Signature=f8865bf622ebee29f44e836f8b6bae15913cf5938283017f67079c8d6aaf1606
      X-Amz-Date:
      - 20160218T173648Z
      X-Amz-Security-Token:
      - AWS_STS_TOKEN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      X-Amzn-Requestid:
      - 3071ca4c-d666-11e5-8cd1-074e87337b62
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: |
        <ErrorResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <Error>
            <Type>Sender</Type>
            <Code>AccessDenied</Code>
            <Message>User: arn:aws:sts::AWS_ACCOUNT_ID:assumed-role/fubar/4f4e4fbb78684dc9922085078307adf6 is not authorized to perform: cloudformation:CreateStack</Message>
          </Error>
          <RequestId>3071ca4c-d666-11e5-8cd1-074e87337b62</RequestId>
        </ErrorResponse>
  recorded_at: Thu, 18 Feb 2016 17:36:49 GMT
recorded_with: VCR 3.0.1
