---
http_interactions:
- request:
    method: post
    uri: https://cloudformation.us-west-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: Action=CreateStack&StackName&TemplateBody=%7B%7D&Version=2010-05-15
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID_STS/20160218/us-west-1/cloudformation/aws4_request,
        SignedHeaders=host;user-agent;x-amz-date;x-amz-security-token, Signature=14f9be2345438ca6907eafc8c48e82b675b27415f8b24d87b142cd36aa50b177
      X-Amz-Date:
      - 20160218T204056Z
      X-Amz-Security-Token:
      - AWS_STS_TOKEN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      X-Amzn-Requestid:
      - e94b3974-d67f-11e5-a9bf-85ac4c5a30a1
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: |
        <ErrorResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <Error>
            <Type>Sender</Type>
            <Code>AccessDenied</Code>
            <Message>User: arn:aws:sts::AWS_ACCOUNT_ID:assumed-role/fubar/3149ba11c3a5469ab77952765eff819d is not authorized to perform: cloudformation:CreateStack</Message>
          </Error>
          <RequestId>e94b3974-d67f-11e5-a9bf-85ac4c5a30a1</RequestId>
        </ErrorResponse>
  recorded_at: Thu, 18 Feb 2016 20:40:56 GMT
recorded_with: VCR 3.0.1
