---
http_interactions:
- request:
    method: post
    uri: https://cloudformation.us-west-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: Action=CreateStack&StackName&TemplateBody=%7B%7D&Version=2010-05-15
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID_STS/20160203/us-west-1/cloudformation/aws4_request,
        SignedHeaders=host;user-agent;x-amz-date;x-amz-security-token, Signature=d192819dc90fe4688be34bce410669806a0ec5341d2b244df94085f0e450503c
      X-Amz-Date:
      - 20160203T002215Z
      X-Amz-Security-Token:
      - AWS_STS_TOKEN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      X-Amzn-Requestid:
      - 2da982b3-ca0c-11e5-bf8d-952cf3a4747f
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: |
        <ErrorResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <Error>
            <Type>Sender</Type>
            <Code>AccessDenied</Code>
            <Message>User: arn:aws:sts::921689585014:assumed-role/fubar/962266d8a95e40cb976eb085076f6032 is not authorized to perform: cloudformation:CreateStack</Message>
          </Error>
          <RequestId>2da982b3-ca0c-11e5-bf8d-952cf3a4747f</RequestId>
        </ErrorResponse>
  recorded_at: Wed, 03 Feb 2016 00:22:15 GMT
recorded_with: VCR 3.0.1
