---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: Action=DescribeInstances&Version=2014-06-15
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20160104/us-west-1/ec2/aws4_request,
        SignedHeaders=host;user-agent;x-amz-date, Signature=de5e3358102b92cf3101b8e09e86307a8a2e05fe7a444e3932a89db591f7d37f
      X-Amz-Date:
      - 20160104T182543Z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
            <requestId>92d4a28a-afff-49a7-92e6-1f3565dd941b</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-1ec229db</reservationId>
                    <ownerId>921689585014</ownerId>
                    <groupSet>
                        <item>
                            <groupId>sg-b5ca24f1</groupId>
                            <groupName>default</groupName>
                        </item>
                    </groupSet>
                    <instancesSet>
                        <item>
                            <instanceId>i-9c073b2e</instanceId>
                            <imageId>ami-c0e78ba0</imageId>
                            <instanceState>
                                <code>16</code>
                                <name>running</name>
                            </instanceState>
                            <privateDnsName>ip-10-197-77-145.us-west-1.compute.internal</privateDnsName>
                            <dnsName>ec2-54-177-106-46.us-west-1.compute.amazonaws.com</dnsName>
                            <reason/>
                            <keyName>default</keyName>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>m1.small</instanceType>
                            <launchTime>2016-01-04T18:23:52.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-west-1c</availabilityZone>
                                <groupName/>
                                <tenancy>default</tenancy>
                            </placement>
                            <kernelId>aki-880531cd</kernelId>
                            <monitoring>
                                <state>disabled</state>
                            </monitoring>
                            <privateIpAddress>10.197.77.145</privateIpAddress>
                            <ipAddress>54.177.106.46</ipAddress>
                            <groupSet>
                                <item>
                                    <groupId>sg-b5ca24f1</groupId>
                                    <groupName>default</groupName>
                                </item>
                            </groupSet>
                            <architecture>x86_64</architecture>
                            <rootDeviceType>instance-store</rootDeviceType>
                            <blockDeviceMapping/>
                            <virtualizationType>paravirtual</virtualizationType>
                            <clientToken/>
                            <tagSet>
                                <item>
                                    <key>Name</key>
                                    <value>miasma-test-instance</value>
                                </item>
                            </tagSet>
                            <hypervisor>xen</hypervisor>
                            <networkInterfaceSet/>
                            <ebsOptimized>false</ebsOptimized>
                        </item>
                    </instancesSet>
                </item>
                <item>
                    <reservationId>r-42cd2687</reservationId>
                    <ownerId>921689585014</ownerId>
                    <groupSet>
                        <item>
                            <groupId>sg-b5ca24f1</groupId>
                            <groupName>default</groupName>
                        </item>
                    </groupSet>
                    <instancesSet>
                        <item>
                            <instanceId>i-780a36ca</instanceId>
                            <imageId>ami-c0e78ba0</imageId>
                            <instanceState>
                                <code>48</code>
                                <name>terminated</name>
                            </instanceState>
                            <privateDnsName/>
                            <dnsName/>
                            <reason>User initiated (2016-01-04 18:05:12 GMT)</reason>
                            <keyName>default</keyName>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>m1.small</instanceType>
                            <launchTime>2016-01-04T18:04:27.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-west-1c</availabilityZone>
                                <groupName/>
                                <tenancy>default</tenancy>
                            </placement>
                            <kernelId>aki-880531cd</kernelId>
                            <monitoring>
                                <state>disabled</state>
                            </monitoring>
                            <groupSet>
                                <item>
                                    <groupId>sg-b5ca24f1</groupId>
                                    <groupName>default</groupName>
                                </item>
                            </groupSet>
                            <stateReason>
                                <code>Client.UserInitiatedShutdown</code>
                                <message>Client.UserInitiatedShutdown: User initiated shutdown</message>
                            </stateReason>
                            <architecture>x86_64</architecture>
                            <rootDeviceType>instance-store</rootDeviceType>
                            <blockDeviceMapping/>
                            <virtualizationType>paravirtual</virtualizationType>
      [...]
