---
http_interactions:
- request:
    method: post
    uri: https://elasticloadbalancing.us-west-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: Action=DescribeLoadBalancers&LoadBalancerNames.member.1=miasma-test-load-balancer&Version=2012-06-01
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20160104/us-west-1/elasticloadbalancing/aws4_request,
        SignedHeaders=host;user-agent;x-amz-date, Signature=84e9e5c1e9cbcc54dfc4563b9fad10fa96b8c4c819bd307c5d8bb37aaaca064c
      X-Amz-Date:
      - 20160104T201054Z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 1aaab078-b31f-11e5-ba43-6f04818abcd3
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: |
        <DescribeLoadBalancersResponse xmlns="http://elasticloadbalancing.amazonaws.com/doc/2012-06-01/">
          <DescribeLoadBalancersResult>
            <LoadBalancerDescriptions>
              <member>
                <CanonicalHostedZoneNameID>Z1M58G0W56PQJA</CanonicalHostedZoneNameID>
                <Scheme>internet-facing</Scheme>
                <Instances/>
                <Policies>
                  <AppCookieStickinessPolicies/>
                  <LBCookieStickinessPolicies/>
                  <OtherPolicies/>
                </Policies>
                <AvailabilityZones>
                  <member>us-west-1a</member>
                  <member>us-west-1c</member>
                </AvailabilityZones>
                <DNSName>miasma-test-load-balancer-1681054238.us-west-1.elb.amazonaws.com</DNSName>
                <BackendServerDescriptions/>
                <SourceSecurityGroup>
                  <OwnerAlias>amazon-elb</OwnerAlias>
                  <GroupName>amazon-elb-sg</GroupName>
                </SourceSecurityGroup>
                <LoadBalancerName>miasma-test-load-balancer</LoadBalancerName>
                <ListenerDescriptions>
                  <member>
                    <Listener>
                      <InstancePort>80</InstancePort>
                      <InstanceProtocol>HTTP</InstanceProtocol>
                      <Protocol>HTTP</Protocol>
                      <LoadBalancerPort>80</LoadBalancerPort>
                    </Listener>
                    <PolicyNames/>
                  </member>
                </ListenerDescriptions>
                <HealthCheck>
                  <UnhealthyThreshold>2</UnhealthyThreshold>
                  <Interval>30</Interval>
                  <HealthyThreshold>10</HealthyThreshold>
                  <Timeout>5</Timeout>
                  <Target>TCP:80</Target>
                </HealthCheck>
                <CreatedTime>2016-01-04T20:07:54.040Z</CreatedTime>
                <Subnets/>
                <SecurityGroups/>
                <CanonicalHostedZoneName>miasma-test-load-balancer-1681054238.us-west-1.elb.amazonaws.com</CanonicalHostedZoneName>
              </member>
            </LoadBalancerDescriptions>
          </DescribeLoadBalancersResult>
          <ResponseMetadata>
            <RequestId>1aaab078-b31f-11e5-ba43-6f04818abcd3</RequestId>
          </ResponseMetadata>
        </DescribeLoadBalancersResponse>
  recorded_at: Mon, 04 Jan 2016 20:10:54 GMT
- request:
    method: post
    uri: https://elasticloadbalancing.us-west-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: LoadBalancerName=miasma-test-load-balancer&Action=DescribeInstanceHealth&Version=2012-06-01
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20160104/us-west-1/elasticloadbalancing/aws4_request,
        SignedHeaders=host;user-agent;x-amz-date, Signature=9e6f987605a468b85f0e8787c5cddbe57a86d344793c4bb7783a91228da3ec52
      X-Amz-Date:
      - 20160104T201054Z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 1ad3bc60-b31f-11e5-8430-0129b48574a1
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: |
        <DescribeInstanceHealthResponse xmlns="http://elasticloadbalancing.amazonaws.com/doc/2012-06-01/">
          <DescribeInstanceHealthResult>
            <InstanceStates/>
          </DescribeInstanceHealthResult>
          <ResponseMetadata>
            <RequestId>1ad3bc60-b31f-11e5-8430-0129b48574a1</RequestId>
          </ResponseMetadata>
        </DescribeInstanceHealthResponse>
  recorded_at: Mon, 04 Jan 2016 20:10:54 GMT
[...]
