---
http_interactions:
- request:
    method: post
    uri: https://elasticloadbalancing.us-west-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: Action=DeleteLoadBalancer&LoadBalancerName=miasma-test-load-balancer&Version=2012-06-01
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20160104/us-west-1/elasticloadbalancing/aws4_request,
        SignedHeaders=host;user-agent;x-amz-date, Signature=c1c1c21cb2050112accac47da85b2f0749b47873cc790ef29def4a61f27e53f9
      X-Amz-Date:
      - 20160104T201058Z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 1d13737b-b31f-11e5-ba43-6f04818abcd3
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: |
        <DeleteLoadBalancerResponse xmlns="http://elasticloadbalancing.amazonaws.com/doc/2012-06-01/">
          <DeleteLoadBalancerResult/>
          <ResponseMetadata>
            <RequestId>1d13737b-b31f-11e5-ba43-6f04818abcd3</RequestId>
          </ResponseMetadata>
        </DeleteLoadBalancerResponse>
  recorded_at: Mon, 04 Jan 2016 20:10:58 GMT
- request:
    method: post
    uri: https://elasticloadbalancing.us-west-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: Action=DescribeLoadBalancers&LoadBalancerNames.member.1=miasma-test-load-balancer&Version=2012-06-01
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20160104/us-west-1/elasticloadbalancing/aws4_request,
        SignedHeaders=host;user-agent;x-amz-date, Signature=3e7482c6070f59c4cd775afc498a7894c864e99b68733cc0aada33fa38d27876
      X-Amz-Date:
      - 20160104T201058Z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Amzn-Requestid:
      - 1d3f171f-b31f-11e5-bbc6-2932b3934381
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: |
        <ErrorResponse xmlns="http://elasticloadbalancing.amazonaws.com/doc/2012-06-01/">
          <Error>
            <Type>Sender</Type>
            <Code>LoadBalancerNotFound</Code>
            <Message>Cannot find Load Balancer miasma-test-load-balancer</Message>
          </Error>
          <RequestId>1d3f171f-b31f-11e5-bbc6-2932b3934381</RequestId>
        </ErrorResponse>
  recorded_at: Mon, 04 Jan 2016 20:10:58 GMT
recorded_with: VCR 3.0.1
