---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: Action=DescribeInstances&InstanceId.1=i-9c073b2e&Version=2014-06-15
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20160104/us-west-1/ec2/aws4_request,
        SignedHeaders=host;user-agent;x-amz-date, Signature=29915123b08cac94a5c98fed891ffd9795e8949044d668cb41fb269d3a94686b
      X-Amz-Date:
      - 20160104T182541Z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
            <requestId>a559794a-cb44-4c9a-926c-8eee516e8445</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-1ec229db</reservationId>
                    <ownerId>921689585014</ownerId>
                    <groupSet>
                        <item>
                            <groupId>sg-b5ca24f1</groupId>
                            <groupName>default</groupName>
                        </item>
                    </groupSet>
                    <instancesSet>
                        <item>
                            <instanceId>i-9c073b2e</instanceId>
                            <imageId>ami-c0e78ba0</imageId>
                            <instanceState>
                                <code>16</code>
                                <name>running</name>
                            </instanceState>
                            <privateDnsName>ip-10-197-77-145.us-west-1.compute.internal</privateDnsName>
                            <dnsName>ec2-54-177-106-46.us-west-1.compute.amazonaws.com</dnsName>
                            <reason/>
                            <keyName>default</keyName>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>m1.small</instanceType>
                            <launchTime>2016-01-04T18:23:52.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-west-1c</availabilityZone>
                                <groupName/>
                                <tenancy>default</tenancy>
                            </placement>
                            <kernelId>aki-880531cd</kernelId>
                            <monitoring>
                                <state>disabled</state>
                            </monitoring>
                            <privateIpAddress>10.197.77.145</privateIpAddress>
                            <ipAddress>54.177.106.46</ipAddress>
                            <groupSet>
                                <item>
                                    <groupId>sg-b5ca24f1</groupId>
                                    <groupName>default</groupName>
                                </item>
                            </groupSet>
                            <architecture>x86_64</architecture>
                            <rootDeviceType>instance-store</rootDeviceType>
                            <blockDeviceMapping/>
                            <virtualizationType>paravirtual</virtualizationType>
                            <clientToken/>
                            <tagSet>
                                <item>
                                    <key>Name</key>
                                    <value>miasma-test-instance</value>
                                </item>
                            </tagSet>
                            <hypervisor>xen</hypervisor>
                            <networkInterfaceSet/>
                            <ebsOptimized>false</ebsOptimized>
                        </item>
                    </instancesSet>
                </item>
            </reservationSet>
        </DescribeInstancesResponse>
  recorded_at: Mon, 04 Jan 2016 18:25:42 GMT
recorded_with: VCR 3.0.1
