---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: Action=RunInstances&ImageId=ami-c0e78ba0&InstanceType=m1.small&KeyName=default&MinCount=1&MaxCount=1&Version=2014-06-15
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20160104/us-west-1/ec2/aws4_request,
        SignedHeaders=host;user-agent;x-amz-date, Signature=c52f0bb5d48b2bbcde84162288e880eb585ea4dda02e6975e9d77f738e2eeaa0
      X-Amz-Date:
      - 20160104T182457Z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <RunInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
            <requestId>ae520e29-e276-41cb-861d-ece776e151cf</requestId>
            <reservationId>r-1ec229db</reservationId>
            <ownerId>921689585014</ownerId>
            <groupSet>
                <item>
                    <groupId>sg-b5ca24f1</groupId>
                    <groupName>default</groupName>
                </item>
            </groupSet>
            <instancesSet>
                <item>
                    <instanceId>i-9c073b2e</instanceId>
                    <imageId>ami-c0e78ba0</imageId>
                    <instanceState>
                        <code>0</code>
                        <name>pending</name>
                    </instanceState>
                    <privateDnsName/>
                    <dnsName/>
                    <reason/>
                    <keyName>default</keyName>
                    <amiLaunchIndex>0</amiLaunchIndex>
                    <productCodes/>
                    <instanceType>m1.small</instanceType>
                    <launchTime>2016-01-04T18:23:52.000Z</launchTime>
                    <placement>
                        <availabilityZone>us-west-1c</availabilityZone>
                        <groupName/>
                        <tenancy>default</tenancy>
                    </placement>
                    <kernelId>aki-880531cd</kernelId>
                    <monitoring>
                        <state>disabled</state>
                    </monitoring>
                    <groupSet>
                        <item>
                            <groupId>sg-b5ca24f1</groupId>
                            <groupName>default</groupName>
                        </item>
                    </groupSet>
                    <stateReason>
                        <code>pending</code>
                        <message>pending</message>
                    </stateReason>
                    <architecture>x86_64</architecture>
                    <rootDeviceType>instance-store</rootDeviceType>
                    <blockDeviceMapping/>
                    <virtualizationType>paravirtual</virtualizationType>
                    <clientToken/>
                    <hypervisor>xen</hypervisor>
                    <networkInterfaceSet/>
                    <ebsOptimized>false</ebsOptimized>
                </item>
            </instancesSet>
        </RunInstancesResponse>
  recorded_at: Mon, 04 Jan 2016 18:24:59 GMT
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: Action=CreateTags&ResourceId.1=i-9c073b2e&Tag.1.Key=Name&Tag.1.Value=miasma-test-instance&Version=2014-06-15
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20160104/us-west-1/ec2/aws4_request,
        SignedHeaders=host;user-agent;x-amz-date, Signature=37fc3118592d89999e4ab5e73c0068e922c9462805988a4b592b56f1a08dd1d2
      X-Amz-Date:
      - 20160104T182459Z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <CreateTagsResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
            <requestId>08256049-a257-44f5-be0c-207cbe3ce9a8</requestId>
            <return>true</return>
        </CreateTagsResponse>
  recorded_at: Mon, 04 Jan 2016 18:25:00 GMT
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: Action=DescribeInstances&InstanceId.1=i-9c073b2e&Version=2014-06-15
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20160104/us-west-1/ec2/aws4_request,
        SignedHeaders=host;user-agent;x-amz-date, Signature=c43d5c344c7bce60911ed2cc0a1f9d18daf112585288cf8ad7a2a7c89aaa4f44
      X-Amz-Date:
      - 20160104T182500Z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
            <requestId>57f60e4e-ef0c-48a4-928b-7b5db82a215c</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-1ec229db</reservationId>
                    <ownerId>921689585014</ownerId>
                    <groupSet>
                        <item>
                            <groupId>sg-b5ca24f1</groupId>
                            <groupName>default</groupName>
                        </item>
                    </groupSet>
                    <instancesSet>
                        <item>
                            <instanceId>i-9c073b2e</[...]
[...]
