---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: Action=TerminateInstances&InstanceId.1=i-9c073b2e&Version=2014-06-15
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20160104/us-west-1/ec2/aws4_request,
        SignedHeaders=host;user-agent;x-amz-date, Signature=5f4c0cf382f850b534e3e9445ba7f034794fbd58300d350f4e55395216c87914
      X-Amz-Date:
      - 20160104T182914Z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <TerminateInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
            <requestId>7fa2a9d4-816c-4c9c-8588-498c1b4eae1b</requestId>
            <instancesSet>
                <item>
                    <instanceId>i-9c073b2e</instanceId>
                    <currentState>
                        <code>32</code>
                        <name>shutting-down</name>
                    </currentState>
                    <previousState>
                        <code>16</code>
                        <name>running</name>
                    </previousState>
                </item>
            </instancesSet>
        </TerminateInstancesResponse>
  recorded_at: Mon, 04 Jan 2016 18:29:14 GMT
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: Action=DescribeInstances&InstanceId.1=i-9c073b2e&Version=2014-06-15
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20160104/us-west-1/ec2/aws4_request,
        SignedHeaders=host;user-agent;x-amz-date, Signature=e8712486ed1f71a09e0dc29fcb2620a95bbd323e5f996daffdb3453205e74da1
      X-Amz-Date:
      - 20160104T182914Z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
            <requestId>bfddd284-3b6c-4445-b84c-168b1cd0a1bf</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-1ec229db</reservationId>
                    <ownerId>921689585014</ownerId>
                    <groupSet>
                        <item>
                            <groupId>sg-b5ca24f1</groupId>
                            <groupName>default</groupName>
                        </item>
                    </groupSet>
                    <instancesSet>
                        <item>
                            <instanceId>i-9c073b2e</instanceId>
                            <imageId>ami-c0e78ba0</imageId>
                            <instanceState>
                                <code>32</code>
                                <name>shutting-down</name>
                            </instanceState>
                            <privateDnsName>ip-10-197-77-145.us-west-1.compute.internal</privateDnsName>
                            <dnsName>ec2-54-177-106-46.us-west-1.compute.amazonaws.com</dnsName>
                            <reason>User initiated (2016-01-04 18:28:08 GMT)</reason>
                            <keyName>default</keyName>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>m1.small</instanceType>
                            <launchTime>2016-01-04T18:23:52.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-west-1c</availabilityZone>
                                <groupName/>
                                <tenancy>default</tenancy>
                            </placement>
                            <kernelId>aki-880531cd</kernelId>
                            <monitoring>
                                <state>disabled</state>
                            </monitoring>
                            <privateIpAddress>10.197.77.145</privateIpAddress>
                            <ipAddress>54.177.106.46</ipAddress>
                            <groupSet>
                                <item>
                                    <groupId>sg-b5ca24f1</groupId>
                                    <groupName>default</groupName>
                                </item>
                            </groupSet>
                            <stateReason>
                                <code>Client.UserInitiatedShutdown</code>
                                <message>Client.UserInitiatedShutdown: User initiated shutdown</message>
                            </stateReason>
                            <architecture>x86_64</architecture>
                            <rootDeviceType>instance-store</rootDeviceType>
                            <blockDeviceMapping/>
                            <virtualizationType>paravirtual</virtualizationType>
                            <clientToken/>
                            <tagSet>
                                <item>
                                    <key>Name</key>
                                    <value>miasma-test-instance</value>
                                </item>
                            </tagSet>
                            <hypervisor>xen</hypervisor>
                            <networkInterfaceSet/>
                            <ebsOptimized>false</ebsOptimized>
                        </item>
                    </instancesSet>
                </item>
            </reservationSet>
        </DescribeInstancesResponse>
  recorded_at: Mon, 04 Jan 2016 18:29:15 GMT
recorded_with: VCR 3.0.1
