---
http_interactions:
- request:
    method: get
    uri: https://s3.amazonaws.com/?Version=2006-03-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20160104/us-east-1/s3/aws4_request,
        SignedHeaders=host;user-agent;x-amz-date, Signature=69f84aa099a8042a618a86e1af6ab242fb374167863fb458ff22ce1f79e1c54f
      X-Amz-Date:
      - 20160104T204244Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - BB53F2D2392E0E65
      Content-Type:
      - application/xml
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <ListAllMyBucketsResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><ID>413592dcd47430a483c65bf9d5da73cd2e086212c2a8cd9aff537b2468e83de9</ID><DisplayName>aws</DisplayName></Owner><Buckets><Bucket><Name>assets.hw-ops.com</Name><CreationDate>2013-12-18T21:07:32.000Z</CreationDate></Bucket><Bucket><Name>cf-templates-235p3whz4gj8-us-west-2</Name><CreationDate>2013-06-19T21:46:48.000Z</CreationDate></Bucket><Bucket><Name>channels.mythtv.test</Name><CreationDate>2014-12-25T03:43:38.000Z</CreationDate></Bucket><Bucket><Name>chef-backup-test</Name><CreationDate>2014-02-25T18:43:28.000Z</CreationDate></Bucket><Bucket><Name>cloud-viz-playground</Name><CreationDate>2014-10-04T22:23:14.000Z</CreationDate></Bucket><Bucket><Name>cr-test-00</Nam[...]
