---
http_interactions:
- request:
    method: post
    uri: https://cloudformation.us-west-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: Action=DescribeStacks&StackName=arn%3Aaws%3Acloudformation%3Aus-west-1%3A921689585014%3Astack%2Fmiasma-test-stack%2F900f9520-d656-11e5-9dab-50fae8e9942a&Version=2010-05-15
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20160218/us-west-1/cloudformation/aws4_request,
        SignedHeaders=host;user-agent;x-amz-date, Signature=8a5909e0467caac412dd5cb5d95040b14ec5a572848528178793044ce7a3190c
      X-Amz-Date:
      - 20160218T154513Z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 999023c4-d656-11e5-8423-ad95fb08440b
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks>
              <member>
                <Tags/>
                <StackId>arn:aws:cloudformation:us-west-1:921689585014:stack/miasma-test-stack/900f9520-d656-11e5-9dab-50fae8e9942a</StackId>
                <StackStatus>CREATE_COMPLETE</StackStatus>
                <StackName>miasma-test-stack</StackName>
                <Description>Miasma test stack</Description>
                <NotificationARNs/>
                <CreationTime>2016-02-18T15:44:57.726Z</CreationTime>
                <DisableRollback>false</DisableRollback>
              </member>
            </Stacks>
          </DescribeStacksResult>
          <ResponseMetadata>
            <RequestId>999023c4-d656-11e5-8423-ad95fb08440b</RequestId>
          </ResponseMetadata>
        </DescribeStacksResponse>
  recorded_at: Thu, 18 Feb 2016 15:45:13 GMT
recorded_with: VCR 3.0.1
