---
http_interactions:
- request:
    method: post
    uri: https://cloudformation.us-west-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: Action=DescribeStacks&StackName=arn%3Aaws%3Acloudformation%3Aus-west-1%3A921689585014%3Astack%2Fmiasma-test-stack%2Fb5978680-b320-11e5-992b-500cc178649a&Version=2010-05-15
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20160104/us-west-1/cloudformation/aws4_request,
        SignedHeaders=host;user-agent;x-amz-date, Signature=efcae556a8c5a9c2a7f75f856816cb3bf424f62f35f5b6900ef89648491b4107
      X-Amz-Date:
      - 20160104T202249Z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - c4f8725d-b320-11e5-8e90-53a06fc71130
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks>
              <member>
                <Tags/>
                <StackId>arn:aws:cloudformation:us-west-1:921689585014:stack/miasma-test-stack/b5978680-b320-11e5-992b-500cc178649a</StackId>
                <StackStatus>CREATE_COMPLETE</StackStatus>
                <StackName>miasma-test-stack</StackName>
                <Description>Miasma test stack</Description>
                <NotificationARNs/>
                <CreationTime>2016-01-04T20:21:17.169Z</CreationTime>
                <DisableRollback>false</DisableRollback>
              </member>
            </Stacks>
          </DescribeStacksResult>
          <ResponseMetadata>
            <RequestId>c4f8725d-b320-11e5-8e90-53a06fc71130</RequestId>
          </ResponseMetadata>
        </DescribeStacksResponse>
  recorded_at: Mon, 04 Jan 2016 20:22:49 GMT
- request:
    method: post
    uri: https://cloudformation.us-west-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: Action=GetTemplate&StackName=arn%3Aaws%3Acloudformation%3Aus-west-1%3A921689585014%3Astack%2Fmiasma-test-stack%2Fb5978680-b320-11e5-992b-500cc178649a&Version=2010-05-15
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20160104/us-west-1/cloudformation/aws4_request,
        SignedHeaders=host;user-agent;x-amz-date, Signature=17d67f78f59b3872ba63506de8011adcaaddf63f7f3626a61cf6f6a6ff4f3fbf
      X-Amz-Date:
      - 20160104T202249Z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - c53f3f12-b320-11e5-8d5c-516228bac4c5
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: |
        <GetTemplateResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <GetTemplateResult>
            <TemplateBody>{&quot;AWSTemplateFormatVersion&quot;:&quot;2010-09-09&quot;,&quot;Description&quot;:&quot;Miasma test stack&quot;,&quot;Resources&quot;:{&quot;MiasmaTestHandle&quot;:{&quot;Type&quot;:&quot;AWS::CloudFormation::WaitConditionHandle&quot;}}}
        </TemplateBody>
          </GetTemplateResult>
          <ResponseMetadata>
            <RequestId>c53f3f12-b320-11e5-8d5c-516228bac4c5</RequestId>
          </ResponseMetadata>
        </GetTemplateResponse>
  recorded_at: Mon, 04 Jan 2016 20:22:50 GMT
recorded_with: VCR 3.0.1
