---
http_interactions:
- request:
    method: post
    uri: https://cloudformation.us-west-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: Action=ListStacks&StackStatusFilter.member.1=CREATE_COMPLETE&StackStatusFilter.member.2=CREATE_FAILED&StackStatusFilter.member.3=CREATE_IN_PROGRESS&StackStatusFilter.member.4=DELETE_FAILED&StackStatusFilter.member.5=DELETE_IN_PROGRESS&StackStatusFilter.member.6=ROLLBACK_COMPLETE&StackStatusFilter.member.7=ROLLBACK_FAILED&StackStatusFilter.member.8=ROLLBACK_IN_PROGRESS&StackStatusFilter.member.9=UPDATE_COMPLETE&StackStatusFilter.member.10=UPDATE_COMPLETE_CLEANUP_IN_PROGRESS&StackStatusFilter.member.11=UPDATE_IN_PROGRESS&StackStatusFilter.member.12=UPDATE_ROLLBACK_COMPLETE&StackStatusFilter.member.13=UPDATE_ROLLBACK_COMPLETE_CLEANUP_IN_PROGRESS&StackStatusFilter.member.14=UPDATE_ROLLBACK_FAILED&StackStatusFilter.member.15=UPDATE_ROLLBACK_IN_PROGRESS&Version=2010-05-15
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20160104/us-west-1/cloudformation/aws4_request,
        SignedHeaders=host;user-agent;x-amz-date, Signature=abbf728320cb3d383cc0b69fce6789445fd21df14c0608c550383b61a29ea0af
      X-Amz-Date:
      - 20160104T202333Z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - df86b1f9-b320-11e5-8f96-0597ec6212b8
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: |
        <ListStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ListStacksResult>
            <StackSummaries>
              <member>
                <StackId>arn:aws:cloudformation:us-west-1:921689585014:stack/miasma-test-stack/b5978680-b320-11e5-992b-500cc178649a</StackId>
                <StackStatus>CREATE_COMPLETE</StackStatus>
                <StackName>miasma-test-stack</StackName>
                <CreationTime>2016-01-04T20:21:17.169Z</CreationTime>
                <TemplateDescription>Miasma test stack</TemplateDescription>
              </member>
            </StackSummaries>
          </ListStacksResult>
          <ResponseMetadata>
            <RequestId>df86b1f9-b320-11e5-8f96-0597ec6212b8</RequestId>
          </ResponseMetadata>
        </ListStacksResponse>
  recorded_at: Mon, 04 Jan 2016 20:23:34 GMT
recorded_with: VCR 3.0.1
