---
http_interactions:
- request:
    method: post
    uri: https://cloudformation.us-west-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: Action=ListStacks&StackStatusFilter.member.1=CREATE_COMPLETE&StackStatusFilter.member.2=CREATE_FAILED&StackStatusFilter.member.3=CREATE_IN_PROGRESS&StackStatusFilter.member.4=DELETE_FAILED&StackStatusFilter.member.5=DELETE_IN_PROGRESS&StackStatusFilter.member.6=ROLLBACK_COMPLETE&StackStatusFilter.member.7=ROLLBACK_FAILED&StackStatusFilter.member.8=ROLLBACK_IN_PROGRESS&StackStatusFilter.member.9=UPDATE_COMPLETE&StackStatusFilter.member.10=UPDATE_COMPLETE_CLEANUP_IN_PROGRESS&StackStatusFilter.member.11=UPDATE_IN_PROGRESS&StackStatusFilter.member.12=UPDATE_ROLLBACK_COMPLETE&StackStatusFilter.member.13=UPDATE_ROLLBACK_COMPLETE_CLEANUP_IN_PROGRESS&StackStatusFilter.member.14=UPDATE_ROLLBACK_FAILED&StackStatusFilter.member.15=UPDATE_ROLLBACK_IN_PROGRESS&Version=2010-05-15
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20160218/us-west-1/cloudformation/aws4_request,
        SignedHeaders=host;user-agent;x-amz-date, Signature=40f25e8e2a3bc37d00459c31873fadf697a944b61599ea11de48330909ba20a6
      X-Amz-Date:
      - 20160218T153141Z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - b5f94fd4-d654-11e5-9ecf-dbfcfd962dfe
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: |
        <ListStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ListStacksResult>
            <StackSummaries/>
          </ListStacksResult>
          <ResponseMetadata>
            <RequestId>b5f94fd4-d654-11e5-9ecf-dbfcfd962dfe</RequestId>
          </ResponseMetadata>
        </ListStacksResponse>
  recorded_at: Thu, 18 Feb 2016 15:31:42 GMT
recorded_with: VCR 3.0.1
