---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: Action=RunInstances&ImageId=ami-c0e78ba0&InstanceType=m1.small&KeyName=default&MinCount=1&MaxCount=1&Version=2014-06-15
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20160104/us-west-1/ec2/aws4_request,
        SignedHeaders=host;user-agent;x-amz-date, Signature=7cadb9f1bc8efc66083cbaaf0232a3a9f1db4c19d044a5db66def83890a99fc5
      X-Amz-Date:
      - 20160104T182544Z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <RunInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
            <requestId>19f9043f-4cc4-4e0a-8494-6b436c94cfc0</requestId>
            <reservationId>r-55c22990</reservationId>
            <ownerId>921689585014</ownerId>
            <groupSet>
                <item>
                    <groupId>sg-b5ca24f1</groupId>
                    <groupName>default</groupName>
                </item>
            </groupSet>
            <instancesSet>
                <item>
                    <instanceId>i-ba003c08</instanceId>
                    <imageId>ami-c0e78ba0</imageId>
                    <instanceState>
                        <code>0</code>
                        <name>pending</name>
                    </instanceState>
                    <privateDnsName/>
                    <dnsName/>
                    <reason/>
                    <keyName>default</keyName>
                    <amiLaunchIndex>0</amiLaunchIndex>
                    <productCodes/>
                    <instanceType>m1.small</instanceType>
                    <launchTime>2016-01-04T18:24:38.000Z</launchTime>
                    <placement>
                        <availabilityZone>us-west-1c</availabilityZone>
                        <groupName/>
                        <tenancy>default</tenancy>
                    </placement>
                    <kernelId>aki-880531cd</kernelId>
                    <monitoring>
                        <state>disabled</state>
                    </monitoring>
                    <groupSet>
                        <item>
                            <groupId>sg-b5ca24f1</groupId>
                            <groupName>default</groupName>
                        </item>
                    </groupSet>
                    <stateReason>
                        <code>pending</code>
                        <message>pending</message>
                    </stateReason>
                    <architecture>x86_64</architecture>
                    <rootDeviceType>instance-store</rootDeviceType>
                    <blockDeviceMapping/>
                    <virtualizationType>paravirtual</virtualizationType>
                    <clientToken/>
                    <hypervisor>xen</hypervisor>
                    <networkInterfaceSet/>
                    <ebsOptimized>false</ebsOptimized>
                </item>
            </instancesSet>
        </RunInstancesResponse>
  recorded_at: Mon, 04 Jan 2016 18:25:45 GMT
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: Action=CreateTags&ResourceId.1=i-ba003c08&Tag.1.Key=Name&Tag.1.Value=miasma-test-instance&Version=2014-06-15
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20160104/us-west-1/ec2/aws4_request,
        SignedHeaders=host;user-agent;x-amz-date, Signature=3016c9a5d124200c5599a859ed87ee5997332b811ace6bae2231b876e1fd395f
      X-Amz-Date:
      - 20160104T182545Z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <CreateTagsResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
            <requestId>78d6cfd8-dd31-4b86-84fc-a4fa29a21f90</requestId>
            <return>true</return>
        </CreateTagsResponse>
  recorded_at: Mon, 04 Jan 2016 18:25:45 GMT
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: Action=DescribeInstances&InstanceId.1=i-ba003c08&Version=2014-06-15
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20160104/us-west-1/ec2/aws4_request,
        SignedHeaders=host;user-agent;x-amz-date, Signature=ccec00fed750b1da66e0add8abb49c386066e4ea1a4b048ccbada2ae87915c95
      X-Amz-Date:
      - 20160104T182545Z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
            <requestId>386871d4-e503-4080-9eda-42fe22ed94c5</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-55c22990</reservationId>
                    <ownerId>921689585014</ownerId>
                    <groupSet>
                        <item>
                            <groupId>sg-b5ca24f1</groupId>
                            <groupName>default</groupName>
                        </item>
                    </groupSet>
                    <instancesSet>
                        <item>
                            <instanceId>i-ba003c08</[...]
[...]
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: Action=TerminateInstances&InstanceId.1=i-ba003c08&Version=2014-06-15
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20160104/us-west-1/ec2/aws4_request,
        SignedHeaders=host;user-agent;x-amz-date, Signature=82952534e0c3c0b7210b5715da81abc6ee19dd74c2c2cffde8f8a55f4c3e375a
      X-Amz-Date:
      - 20160104T182628Z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <TerminateInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
            <requestId>337453c8-691c-43bf-a0d1-a4498c1e93d9</requestId>
            <instancesSet>
                <item>
                    <instanceId>i-ba003c08</instanceId>
                    <currentState>
                        <code>32</code>
                        <name>shutting-down</name>
                    </currentState>
                    <previousState>
                        <code>16</code>
                        <name>running</name>
                    </previousState>
                </item>
            </instancesSet>
        </TerminateInstancesResponse>
  recorded_at: Mon, 04 Jan 2016 18:26:28 GMT
[...]
