---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: Action=RunInstances&ImageId=ami-c0e78ba0&InstanceType=m1.small&KeyName=default&MinCount=1&MaxCount=1&Version=2014-06-15
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20160218/us-west-1/ec2/aws4_request,
        SignedHeaders=host;user-agent;x-amz-date, Signature=df8a3ef776e9b8756afb8fd07fbe7c58334b2ff279877bffd397deeb84612c47
      X-Amz-Date:
      - 20160218T153146Z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <RunInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
            <requestId>709861ff-634b-4a46-ba9e-1bcbb163606b</requestId>
            <reservationId>r-b439ef71</reservationId>
            <ownerId>921689585014</ownerId>
            <groupSet>
                <item>
                    <groupId>sg-b5ca24f1</groupId>
                    <groupName>default</groupName>
                </item>
            </groupSet>
            <instancesSet>
                <item>
                    <instanceId>i-c1ed0474</instanceId>
                    <imageId>ami-c0e78ba0</imageId>
                    <instanceState>
                        <code>0</code>
                        <name>pending</name>
                    </instanceState>
                    <privateDnsName/>
                    <dnsName/>
                    <reason/>
                    <keyName>default</keyName>
                    <amiLaunchIndex>0</amiLaunchIndex>
                    <productCodes/>
                    <instanceType>m1.small</instanceType>
                    <launchTime>2016-02-18T15:31:47.000Z</launchTime>
                    <placement>
                        <availabilityZone>us-west-1c</availabilityZone>
                        <groupName/>
                        <tenancy>default</tenancy>
                    </placement>
                    <kernelId>aki-880531cd</kernelId>
                    <monitoring>
                        <state>disabled</state>
                    </monitoring>
                    <groupSet>
                        <item>
                            <groupId>sg-b5ca24f1</groupId>
                            <groupName>default</groupName>
                        </item>
                    </groupSet>
                    <stateReason>
                        <code>pending</code>
                        <message>pending</message>
                    </stateReason>
                    <architecture>x86_64</architecture>
                    <rootDeviceType>instance-store</rootDeviceType>
                    <blockDeviceMapping/>
                    <virtualizationType>paravirtual</virtualizationType>
                    <clientToken/>
                    <hypervisor>xen</hypervisor>
                    <networkInterfaceSet/>
                    <ebsOptimized>false</ebsOptimized>
                </item>
            </instancesSet>
        </RunInstancesResponse>
  recorded_at: Thu, 18 Feb 2016 15:31:47 GMT
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: Action=CreateTags&ResourceId.1=i-c1ed0474&Tag.1.Key=Name&Tag.1.Value=miasma-test-instance&Version=2014-06-15
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20160218/us-west-1/ec2/aws4_request,
        SignedHeaders=host;user-agent;x-amz-date, Signature=29b193cff3ff6c1adba44b3cccf18bdb60f98b21d3cae06865f9528a006d3f6d
      X-Amz-Date:
      - 20160218T153147Z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <CreateTagsResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
            <requestId>98a10db8-c806-4921-8bb0-25e3bace8886</requestId>
            <return>true</return>
        </CreateTagsResponse>
  recorded_at: Thu, 18 Feb 2016 15:31:47 GMT
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: Action=DescribeInstances&InstanceId.1=i-c1ed0474&Version=2014-06-15
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20160218/us-west-1/ec2/aws4_request,
        SignedHeaders=host;user-agent;x-amz-date, Signature=0b0235e96f597c949c520ff99e523adc12c71e1ecc862ec9e8e272b35c62fe88
      X-Amz-Date:
      - 20160218T153147Z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
            <requestId>203edc6e-db79-4797-a51a-3f1e10608b86</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-b439ef71</reservationId>
                    <ownerId>921689585014</ownerId>
                    <groupSet>
                        <item>
                            <groupId>sg-b5ca24f1</groupId>
                            <groupName>default</groupName>
                        </item>
                    </groupSet>
                    <instancesSet>
                        <item>
                            <instanceId>i-c1ed0474</[...]
[...]
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: Action=TerminateInstances&InstanceId.1=i-c1ed0474&Version=2014-06-15
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20160218/us-west-1/ec2/aws4_request,
        SignedHeaders=host;user-agent;x-amz-date, Signature=8bc3a1c74236c05cb37022dafbb682a82a172e805b3d8e2e5144c9873c6b3541
      X-Amz-Date:
      - 20160218T153225Z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <TerminateInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
            <requestId>5247d3c2-0cef-4a4e-8093-f8d68af7dbcd</requestId>
            <instancesSet>
                <item>
                    <instanceId>i-c1ed0474</instanceId>
                    <currentState>
                        <code>32</code>
                        <name>shutting-down</name>
                    </currentState>
                    <previousState>
                        <code>16</code>
                        <name>running</name>
                    </previousState>
                </item>
            </instancesSet>
        </TerminateInstancesResponse>
  recorded_at: Thu, 18 Feb 2016 15:32:25 GMT
[...]
