---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: Action=RunInstances&ImageId=ami-c0e78ba0&InstanceType=m1.small&KeyName=default&MinCount=1&MaxCount=1&Version=2014-06-15
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20160218/us-west-1/ec2/aws4_request,
        SignedHeaders=host;user-agent;x-amz-date, Signature=a08bf0f0ea065b8b15049159bda65337f9a0a008240cce82cd64d6bb7506d04c
      X-Amz-Date:
      - 20160218T153316Z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <RunInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
            <requestId>143a6a51-4a54-4370-838b-dee36d9db65f</requestId>
            <reservationId>r-1538eed0</reservationId>
            <ownerId>921689585014</ownerId>
            <groupSet>
                <item>
                    <groupId>sg-b5ca24f1</groupId>
                    <groupName>default</groupName>
                </item>
            </groupSet>
            <instancesSet>
                <item>
                    <instanceId>i-dbec056e</instanceId>
                    <imageId>ami-c0e78ba0</imageId>
                    <instanceState>
                        <code>0</code>
                        <name>pending</name>
                    </instanceState>
                    <privateDnsName/>
                    <dnsName/>
                    <reason/>
                    <keyName>default</keyName>
                    <amiLaunchIndex>0</amiLaunchIndex>
                    <productCodes/>
                    <instanceType>m1.small</instanceType>
                    <launchTime>2016-02-18T15:33:16.000Z</launchTime>
                    <placement>
                        <availabilityZone>us-west-1c</availabilityZone>
                        <groupName/>
                        <tenancy>default</tenancy>
                    </placement>
                    <kernelId>aki-880531cd</kernelId>
                    <monitoring>
                        <state>disabled</state>
                    </monitoring>
                    <groupSet>
                        <item>
                            <groupId>sg-b5ca24f1</groupId>
                            <groupName>default</groupName>
                        </item>
                    </groupSet>
                    <stateReason>
                        <code>pending</code>
                        <message>pending</message>
                    </stateReason>
                    <architecture>x86_64</architecture>
                    <rootDeviceType>instance-store</rootDeviceType>
                    <blockDeviceMapping/>
                    <virtualizationType>paravirtual</virtualizationType>
                    <clientToken/>
                    <hypervisor>xen</hypervisor>
                    <networkInterfaceSet/>
                    <ebsOptimized>false</ebsOptimized>
                </item>
            </instancesSet>
        </RunInstancesResponse>
  recorded_at: Thu, 18 Feb 2016 15:33:16 GMT
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: Action=CreateTags&ResourceId.1=i-dbec056e&Tag.1.Key=Name&Tag.1.Value=miasma-test-instance&Version=2014-06-15
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20160218/us-west-1/ec2/aws4_request,
        SignedHeaders=host;user-agent;x-amz-date, Signature=b28d7f149df9dcf315f33246239e99495abc8861c5086c31d943e66d9aebe82f
      X-Amz-Date:
      - 20160218T153316Z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <CreateTagsResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
            <requestId>35df7000-ef69-43d9-8eb1-feee8836af2d</requestId>
            <return>true</return>
        </CreateTagsResponse>
  recorded_at: Thu, 18 Feb 2016 15:33:17 GMT
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: Action=DescribeInstances&InstanceId.1=i-dbec056e&Version=2014-06-15
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20160218/us-west-1/ec2/aws4_request,
        SignedHeaders=host;user-agent;x-amz-date, Signature=b2b739339b64045bc3e401420ef7c702c33d97089d7311f22c0963b157803c8c
      X-Amz-Date:
      - 20160218T153317Z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
            <requestId>15e04934-10fc-4be5-8229-921d1e30399b</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-1538eed0</reservationId>
                    <ownerId>921689585014</ownerId>
                    <groupSet>
                        <item>
                            <groupId>sg-b5ca24f1</groupId>
                            <groupName>default</groupName>
                        </item>
                    </groupSet>
                    <instancesSet>
                        <item>
                            <instanceId>i-dbec056e</[...]
[...]
