---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: Action=TerminateInstances&InstanceId.1=i-dbec056e&Version=2014-06-15
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20160218/us-west-1/ec2/aws4_request,
        SignedHeaders=host;user-agent;x-amz-date, Signature=f2a9198e80fb50018e4c3f1b72da0b72d32ecbb3a88864fdc23b75da4a84f3e0
      X-Amz-Date:
      - 20160218T154517Z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <TerminateInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
            <requestId>389ddf09-79b3-4f40-a590-049e4dc2d1e0</requestId>
            <instancesSet>
                <item>
                    <instanceId>i-dbec056e</instanceId>
                    <currentState>
                        <code>32</code>
                        <name>shutting-down</name>
                    </currentState>
                    <previousState>
                        <code>16</code>
                        <name>running</name>
                    </previousState>
                </item>
            </instancesSet>
        </TerminateInstancesResponse>
  recorded_at: Thu, 18 Feb 2016 15:45:17 GMT
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: Action=DescribeInstances&InstanceId.1=i-dbec056e&Version=2014-06-15
    headers:
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20160218/us-west-1/ec2/aws4_request,
        SignedHeaders=host;user-agent;x-amz-date, Signature=394e72e8c4b2c3e4dcaf9d5e5aac161acb86765cb7342119009321ca08272991
      X-Amz-Date:
      - 20160218T154517Z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
            <requestId>f084a919-3fa7-4480-bdc5-2ae478e52290</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-1538eed0</reservationId>
                    <ownerId>921689585014</ownerId>
                    <groupSet>
                        <item>
                            <groupId>sg-b5ca24f1</groupId>
                            <groupName>default</groupName>
                        </item>
                    </groupSet>
                    <instancesSet>
                        <item>
                            <instanceId>i-dbec056e</instanceId>
                            <imageId>ami-c0e78ba0</imageId>
                            <instanceState>
                                <code>32</code>
                                <name>shutting-down</name>
                            </instanceState>
                            <privateDnsName>ip-10-229-2-213.us-west-1.compute.internal</privateDnsName>
                            <dnsName>ec2-54-177-246-39.us-west-1.compute.amazonaws.com</dnsName>
                            <reason>User initiated (2016-02-18 15:45:17 GMT)</reason>
                            <keyName>default</keyName>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>m1.small</instanceType>
                            <launchTime>2016-02-18T15:33:16.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-west-1c</availabilityZone>
                                <groupName/>
                                <tenancy>default</tenancy>
                            </placement>
                            <kernelId>aki-880531cd</kernelId>
                            <monitoring>
                                <state>disabled</state>
                            </monitoring>
                            <privateIpAddress>10.229.2.213</privateIpAddress>
                            <ipAddress>54.177.246.39</ipAddress>
                            <groupSet>
                                <item>
                                    <groupId>sg-b5ca24f1</groupId>
                                    <groupName>default</groupName>
                                </item>
                            </groupSet>
                            <stateReason>
                                <code>Client.UserInitiatedShutdown</code>
                                <message>Client.UserInitiatedShutdown: User initiated shutdown</message>
                            </stateReason>
                            <architecture>x86_64</architecture>
                            <rootDeviceType>instance-store</rootDeviceType>
                            <blockDeviceMapping/>
                            <virtualizationType>paravirtual</virtualizationType>
                            <clientToken/>
                            <tagSet>
                                <item>
                                    <key>Name</key>
                                    <value>miasma-test-instance</value>
                                </item>
                            </tagSet>
                            <hypervisor>xen</hypervisor>
                            <networkInterfaceSet/>
                            <ebsOptimized>false</ebsOptimized>
                        </item>
                    </instancesSet>
                </item>
            </reservationSet>
        </DescribeInstancesResponse>
  recorded_at: Thu, 18 Feb 2016 15:45:17 GMT
recorded_with: VCR 3.0.1
